<h1>Director's details:</h1>
<h2><%= @director.name %></h2>
<p><%= @director.nationality %> </p>
<p><%= @director.date_of_birth %> </p>
<p><%= @director.genre.title %> </p>

<ul>
    <li><%= link_to "Edit Director", edit_director_path(@director) %></li>
    <li><%= link_to "Destroy", director_path(@director), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
