<!DOCTYPE html>
<html>
  <head>
    <title>FilmCatalog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <%= link_to "Film Genres", genres_path %>
          <%= link_to "Directors", directors_path %>
          <%= link_to "Films", films_path %>
        </li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
